<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script src= " "> </script>
    <title>Document</title>
</head>
<body >
    
    <button id = "startgame" value = 'startgame'>Start Game</button>
    <button id = "endgame" value = 'endgame'>End Game</button>
    <button id = "drawcard" value = 'drawcard'>DrawCard</button>
    <div id = 'cards'>
     
        
    </div>
    
    <script src = "../public/client.js"></script>
</body>
</html>